section {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 100px;
}

ul {
  list-style-type: none;
  border: 1px solid black;
}

li {
  margin-left: -30px;
}
