body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
}

ul li:nth-child(odd) {
  background: rgb(218, 218, 218);
}

li {
  height: 26px;
  margin-left: -39px;
}

.submit {
  background-color: #fff;
  width: 80px;
  margin-left: 100px;
}

.hed {
  display: flex;
}

.refresh {
  background-color: #fff;
  margin-left: 10px;
  margin-top: 25px;
  height: 20px;
}
